<div th:fragment="header">

    <header class="bg-gradient-to-r from-lime-400 via-emerald-400 to-teal-400">
        <div class="mx-auto flex max-w-6xl items-center justify-between px-4 ">
            <figure class="flex items-center gap-3">
                <div class="flex h-[80px] items-center justify-center ">
                    <img th:src="@{/assets/logo.png}" class="h-[100px]" >
                </div>

            </figure>
            <nav class="flex flex-wrap gap-3">
                <a href="/" class="text-sm px-4 py-2 rounded-full border border-white/50 text-white
     backdrop-blur-sm bg-white/15
     hover:bg-white hover:text-emerald-700
     hover:shadow-lg
     transition-all duration-200 cursor-pointer">
                Home
            </a>

                <a href="/app/transfer" class="text-sm px-4 py-2 rounded-full border border-white/50 text-white
     backdrop-blur-sm bg-white/15
     hover:bg-white hover:text-emerald-700
     hover:shadow-lg
     transition-all duration-200 cursor-pointer">
                Transfers
            </a>

                <a href="/app/contact" class="text-sm px-4 py-2 rounded-full border border-white/50 text-white
     backdrop-blur-sm bg-white/15
     hover:bg-white hover:text-emerald-700
     hover:shadow-lg
     transition-all duration-200 cursor-pointer">
                Contact
            </a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="text-sm px-4 py-2 rounded-full border border-white/50 text-white
     backdrop-blur-sm bg-white/15
     hover:bg-red-500 hover:text-white
     hover:shadow-lg
     transition-all duration-200 cursor-pointer">
            Sign out
        </button>

    </form>

            </nav>
        </div>
    </header>
</div>
